<!-- begin:: Page -->
<% include ./partials/_header-base-mobile %>
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <% include ./partials/_header-base %>

<!-- begin:: alert -->
            <div id='alert-notifications'>
                    <% if(error && error.length > 0) { %>
                    <div class="alert alert-bold alert-solid-danger alert-dismissible fade show kt-alert kt-alert--outline mx-auto my-3" style='width:90%' role="alert">
                        <div class='alert-text'><%= error %></div>
                            <div class="alert-close">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                    </div>
                    <% } %>
                    <% if(success && success.length > 0) { %>
                        <div class="alert alert-bold alert-solid-success alert-dismissible fade show kt-alert kt-alert--outline mx-auto my-3" style='width:90%' role="alert">
                                <div class='alert-text'><%= success %></div>
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                            </div>
                    <% } %>
                    <% if(warning && warning.length > 0) { %>
                        <div class="alert alert-bold alert-solid-warning alert-dismissible fade show kt-alert kt-alert--outline mx-auto my-3" style='width:90%' role="alert">
                                <div class='alert-text'><%= warning %></div>
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                            </div>
                    <% } %>
                    <% if(emailVerification && emailVerification.length > 0) { %>
                        <!-- <div class="alert alert-danger fade show  mx-auto my-3" style='width:90%' role="alert">
                            <div class="alert-text">
                                <h4 class="alert-heading">Alert</h4>
                                <p><%= emailVerification[0].message %></p>
                                <hr>
                                <p class="mb-0">You need to verify your email id to access all the features of this website.
                                    Already a link has been sent to ujvalshah.best@gmail.com.
                                    If not then please click on resend button to resend the verification email.
                                    </p>
                            </div>
                        </div> -->
                    <div class="alert alert-bold alert-danger alert-dismissible fade show kt-alert kt-alert--outline mx-auto my-3" style='width:90%' role="alert">
                        <span><%= emailVerification[0].message %></span>
                    </div>
                    <% } %>
                    <% if(emailVerification && emailVerification.length > 0) { %>
                        <!-- <div class="alert alert-danger fade show  mx-auto my-3" style='width:90%' role="alert">
                            <div class="alert-text">
                                <h4 class="alert-heading">Alert</h4>
                                <p><%= emailVerification[0].message %></p>
                                <hr>
                                <p class="mb-0">You need to verify your email id to access all the features of this website.
                                    Already a link has been sent to ujvalshah.best@gmail.com.
                                    If not then please click on resend button to resend the verification email.
                                    </p>
                            </div>
                        </div> -->
                    <div class="alert alert-bold alert-danger alert-dismissible fade show kt-alert kt-alert--outline mx-auto my-3" style='width:90%' role="alert">
                        <span><%= emailVerification[0].message %></span>
                    </div>
                    <% } %>
                    <%if(currentUser && currentUser.emailVerified === false){%>
                        <div class="alert alert-bold alert-solid-warning alert-dismissible fade show kt-alert kt-alert--outline mx-auto my-3" style='width:90%' role="alert">
                                <div class='alert-text'>You need to verify your email id to access all the features of this website. <br> 
                                    A verification-link has already been sent to <span class="font-weight-bold"><%=currentUser.email%></span>.<br>
                                    If you did not receive it then please click on the 'resend' button to resend the verification email.
                                    <form action="/email-verification?_method=PUT" method="POST">
                                        <button type="submit" class="btn btn-label-info btn-sm mt-3">Resend Email</button>
                                    </form>
                                </div>
                
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"  style="height: 100%;">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                            </div>
                    <%}%>
                </div>
<!-- end:: alert -->

            <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                    <% if(page !== 'undefined' && page === 'downloads'){%>
                    <% include ./partials/_content-downloads %>
                    <!-- else if(page !== 'undefined' && page === 'homepage')
                     include ./partials/_content-homepage  -->
                    <%} else if (page !== 'undefined' && page === 'videos') {%>
                    <% include ./partials/_content-videos %>
                    <%} else if (page !== 'undefined' && page === 'teachersindex') {%>
                    <% include ./partials/_content-teachers %>
                    <%} else if (page !== 'undefined' && page === 'facultyprofile') {%>
                    <% include ./partials/_content-facultyprofile %>
                    <%} else if (page !== 'undefined' && page === 'dashboard_student') {%>
                    <% include ./partials/_content-dashboard_student %>
                    <%} else if (page !== 'undefined' && page === 'dashboard_faculty') {%>
                    <% include ./partials/_content-dashboard_faculty %>
                    <%} else if (page !== 'undefined' && page === 'dashboard_admin') {%>
                    <% include ./partials/_content-dashboard_admin %>
                    <%} else if (page !== 'undefined' && page === 'downloads_uploadform') {%>
                    <% include ./partials/_content-downloads_uploadform %>
                    <%} else if (page !== 'undefined' && page === 'downloads_updateform') {%>
                    <% include ./partials/_content-downloads_updateform %>
                    <%} else if (page !== 'undefined' && page === 'videos_uploadform') {%>
                    <% include ./partials/_content-videos_uploadform %>
                    <%} else if (page !== 'undefined' && page === 'videos_updateform') {%>
                    <% include ./partials/_content-videos_updateform %>
                    <%} else if (page !== 'undefined' && page === 'email-verification'){%>
                    <% include ./partials/_email-verification %>
                    <%} else if (page !== 'undefined' && page === 'filter-form-teacher'){%>
                    <% include ./partials/_content-filterform-teacher %>
                    <%} else if (page !== 'undefined' && page === 'filter-form'){%>
                    <% include ./partials/_content-filterform %>
                    <%} else if (page !== 'undefined' && page === 'filter-edit-form'){%>
                    <% include ./partials/_content-filtereditform %>
                    <%} else if (page !== 'undefined' && page === 'filter-edit-form-teacher'){%>
                    <% include ./partials/_content-filtereditform-teacher %>
                    <%} else if (page !== 'undefined' && page === 'filter-list'){%>
                    <% include ./partials/_content-filterlist %>
                    <%} else if (page !== 'undefined' && page === 'account-details'){%>
                    <% include ./partials/_content-account-details %>
                    <%} else if (page !== 'undefined' && page === 'forgot-password'){%>
                    <% include ./partials/_content-forgot_password %>
                    <%} else if (page !== 'undefined' && page === 'email-verification'){%>
                    <% include ./partials/_email-verification %>
                    <% } %>
                </div>
            </div>
            <% include ./partials/_footer-base %>
        </div>
    </div>
</div>
<!-- end:: Page -->

<!-- include ./partials/_layout-quick-panel -->
<% include ./partials/_layout-scrolltop %>


