<% include ./_subheader-subheader-v2 %>

<!-- Large Screens -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
  <!-- <div class="container"> -->
  <!--begin::Portlet-->
  <div class="kt-portlet shadow" data-ktportlet="true" id="kt_portlet_tools_4">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          Filter/Search Videos
        </h3>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-group">
          <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-danger btn-icon-md"><i
              class="la la-angle-down"></i></a>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body">

      <!------------------------------------------------------------------------------------------------------------
        -----------------------------------------------Filter Form Begin----------------------------------------------
        ------------------------------------------------------------------------------------------------------------->
        <div class="row">
      <form class="form-inline my-2" id='videoTable_filter_ajax' action="/videos"
        method="GET" onsubmit="return filter()">

        <div class="row">

          <div class="col-md-auto mb-2">
            <div class="kt-pagination kt-pagination--success kt-pagination--sm">
              <div class="kt-pagination__toolbar full-width">
                <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                  <input class="form-control pl-2" id="search-video" name="search" placeholder="Search Videos...">
                  <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1 kt-font-success"></i></span>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-auto mb-2">
              <div class="kt-pagination kt-pagination--success kt-pagination--sm">
                <div class="kt-pagination__toolbar full-width">
                  <select class="form-control kt-font-success" id="exam" name="exam[]"
                    onchange="return filterVideosSubjectFilling(this)">
                  </select>
              </div>
            </div>
          </div>

          <div class="col-md-auto mb-2">
            <div class="kt-pagination kt-pagination--success kt-pagination--sm">
              <div class="kt-pagination__toolbar full-width">
                  <select class="form-control kt-font-success" id="attempt" name="attempt[]" onchange="return filter()">
                    <option value="rf" <%= !videoquery.attempt ? "selected" : "" %>  selected>Attempt</option>
                    <option value="All">All</option>
                    <option value="Nov 2019"
                      <%= videoquery.attempt && videoquery.attempt.includes("Nov 2019") ? "selected" : "" %>>
                      Nov 2019</option>
                    <option value="May 2020"
                      <%= videoquery.attempt && videoquery.attempt.includes("May 2020") ? "selected" : "" %>>
                      May 2020</option>
                    <option value="Nov 2020"
                      <%= videoquery.attempt && videoquery.attempt.includes("Nov 2020") ? "selected" : "" %>>
                      Nov 2020</option>
                    <option value="May 2021"
                      <%= videoquery.attempt && videoquery.attempt.includes("May 2021") ? "selected" : "" %>>
                      May 2021</option>
                    <option value="Nov 2021"
                      <%= videoquery.attempt && videoquery.attempt.includes("Nov 2021") ? "selected" : "" %>>
                      Nov 2021</option>
                  </select>
                </div>
            </div>
          </div>

          <div class="col-md-auto mb-2">
            <div class="kt-pagination kt-pagination--success kt-pagination--sm">
              <div class="kt-pagination__toolbar full-width">
                  <select class="form-control kt-font-success" name="author" id="author" onchange="return filter()">
                    <option disabled selected>Faculty</option>
                  </select>
                </div>
            </div>
          </div>

          
          <div class="col-md-auto mb-2">
              <div class="kt-pagination kt-pagination--success kt-pagination--sm">
                <div class="kt-pagination__toolbar full-width">
              <select class="form-control kt-font-success" id="subject" name="subject[]" onchange="return filter()">
                <option <%= !videoquery.subject ? "selected" : "" %> disabled>Subject</option>
                <option disabled>Select Exam First</option>
              </select>
            </div>
          </div>
          </div>

        </div>


          <!-- <button type="submit" class="btn btn-label-success btn-bold mr-4" id='submit-video-form'>Submit</button> -->
          <a class="btn btn-label-danger btn-bold btn-sm" href="/videos" id="clear-video-form"
            onclick="return clickOnClearAllFiltersBtn(event)">Clear All Filters</a>
          </form>
          </div>
            <!----------------------------Filter Tags---------------------------------------->
            <div class="row">
            <div class="kt-section__content kt-section__content--solid">
              <span>Filter Tags: </span>
              <div id='videos-filter-tags' class="d-inline">
              </div>
            </div>
            </div>
    </div>
  </div>

  <!-------------------------------------------------------------------------------->
  <!----------------------------Video Table----------------------------------------->
  <!-------------------------------------------------------------------------------->
  <!--begin: Pagination(sm)-->
  <div class="kt-grid__item kt-grid__item--fluid mt-5">
    <div class="kt-pagination kt-pagination--sm kt-pagination--brand my-3">
      <ul class="kt-pagination__links">
        <li class="kt-pagination__link--first">
          <a href="<%=videospaginateUrl%>page=1"><i class="fa fa-angle-double-left kt-font-brand"></i></a>
        </li>

        <li class="kt-pagination__link--next">
          <a href="<%=videospaginateUrl%>page=<%=videos.page-1%>"><i class="fa fa-angle-left kt-font-brand"></i></a>
        </li>
        <div class="d-flex" id='pagination-videos'>
          <%if(videos.pages>=1 && videos.docs.length){%>
          <% for(let i=1; i<=videos.pages; i++ ) {%>
          <li id="video-pagination_<%=i%>" class=<%= videos.page === i ? "kt-pagination__link--active" : "" %>>
            <a id="video-pagination-url_<%=i%>" href="<%=videospaginateUrl%>page=<%=i%>"><%=i%></a>
          </li>
          <%}%>
            <%}%>
        </div>

        <li class="kt-pagination__link--prev">
          <a href="<%=videospaginateUrl%>page=<%=videos.page+1%>"><i class="fa fa-angle-right kt-font-brand"></i></a>
        </li>

        <li class="kt-pagination__link--last">
          <a href="<%=videospaginateUrl%>page=<%=videos.pages%>"><i
              class="fa fa-angle-double-right kt-font-brand"></i></a>
        </li>
      </ul>
      <div class="kt-pagination__toolbar">
        <div class="mr-3">
          <!-- <form id="sorting-videoTable-form" method="GET" action="#"> -->
          <select class="form-control kt-font-brand" id="sorting-videoTable" name="sort" onchange="return filter()">
            <option disabled>Sort</option>
            <option value="-createdAt" <%= videoquery.sort && videoquery.sort==="-createdAt" ? "selected" : "" %>>
              Lastest Uploads
            </option>
            <option value="createdAt" <%= videoquery.sort && videoquery.sort==="createdAt" ? "selected" : "" %>>
              Earliest
              Uploads
            </option>
            <option value="-description" <%= videoquery.sort && videoquery.sort==="-description" ? "selected" : "" %>>
              Description-Asc
            </option>
            <option value="description" <%= videoquery.sort && videoquery.sort==="description" ? "selected" : "" %>>
              Description-Desc</option>
          </select>
          <!-- </form> -->
        </div>

        <!-- <form id="limit-videoTable-form" method="GET" action="<%=limitUrl%>"> -->
        <select class="form-control kt-font-brand" id="limit-videoTable" name="limit" style="width: 60px;"
          onchange="return filter()">
          <option value='1' <%= !videoquery.limit || videoquery.limit==="1" ? "selected" : "" %>>1</option>
          <option value='2' <%= !videoquery.limit || videoquery.limit==="2" ? "selected" : "" %>>2</option>
          <option value='10' <%= !videoquery.limit || videoquery.limit==="10" ? "selected" : "" %>>10</option>
          <option value='20' <%= videoquery.limit && videoquery.limit==="20" ? "selected" : "" %>>20</option>
          <option value='30' <%= videoquery.limit && videoquery.limit==="30" ? "selected" : "" %>>30</option>
          <option value='50' <%= videoquery.limit && videoquery.limit==="40" ? "selected" : "" %>>50</option>
        </select>
        <!-- </form> -->
 
        <span class="pagination__desc">
          Showing 1 to <%= videos.limit%> of <%=videos.total%>
        </span>
      </div>
    </div>
  </div>
  <!--end: Pagination-->

  <!-- ------------------------------------------------------------------------------- -->
  <!-- ------------------------------Filter Form Ends--------------------------------- -->
  <!-- ------------------------------------------------------------------------------- -->

  <div class="kt-grid__item">
    <div style="background-color: white" class='shadow mb-5'>
      <div class="row px-4 py-5 overflow-auto"style="max-height: 150rem" id='videoLoop'>
        <%videos.docs.forEach(function(video){%>
        <div class="col-md-4 mb-3">
          <!--begin:: Widgets/Blog-->
          <div class="kt-portlet kt-portlet--height-fluid kt-widget19 mx-2 shadow">
            <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--unfill">
              <div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides">
                <div class="embed-responsive embed-responsive-16by9 card-img-top">
                  <iframe width="560" height="315" class="embed-responsive-item" src="<%=video.url%>" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
                <!-- <iframe width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/watch?v=FobusV1Lmgg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <!-- <h3 class="kt-widget19__title kt-font-dark pb-0 mb-0">
                Introducing New Feature
              </h3> -->
                <!-- <div class="kt-widget19__shadow"></div>
              <div class="kt-widget19__labels">
                <a href="#" class="btn btn-label-light-o2 btn-bold ">Recent</a>
              </div> -->
              </div>
            </div>
            <div class="kt-portlet__body">
              <div class="kt-widget19__wrapper mb-0">
                <h5 class="kt-widget19__title kt-font-dark kt-label-font-color-3 pb-2 mb-0">
                  <%if(video.type && video.type === 'playlist'){%>
                  <span title="This is a playlist"
                    class="kt-badge kt-badge--danger kt-badge--md kt-badge--rounded">P</span>
                  <%}%> <%=video.title%>
                </h5>
                <div class="kt-divider"><span></span></div>
                <div class="kt-widget19__content mt-2">
                  <div class="kt-widget19__userpic">
                    <span
                      class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--bold kt-hidden-"><%=video.author.username.charAt(0).toUpperCase()%></span>
                    <!-- <img src="./assets/media//users/user1.jpg" alt=""> -->
                  </div>
                  <div class="kt-widget19__info">
                    <a href="/teachers/<%=video.author.id%>" class="kt-widget19__username">
                      <%=video.author.username%>
                    </a>
                    <span class="kt-widget19__time small">
                      CA Faculty/Author
                    </span>
                  </div>
                  <span class="kt-badge kt-badge--info kt-badge--inline float-right" data-toggle="tooltip"
                    data-placement="left" title="Date of Upload"><%=video.createdAt.toDateString()%></span>
                  <!-- <div class="kt-widget19__stats">
              <span class="kt-widget19__number kt-font-brand" style="font-size: 0.9rem">
              </span>
              <div class="float-right"> Applicable Attempt </div>
            </div> -->
                </div>
                <div class="mb-3 small font-weight-bold"> Applicable: <span
                    class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--bold"
                    data-toggle="tooltip" data-placement="bottom" title="Applicable Exam"><%=video.exam%></span>
                  <span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill kt-badge--bold"
                    data-toggle="tooltip" data-placement="bottom" title="Applicaple Attempt"><%=video.attempt%></span>
                </div>
                <div><small><span class="font-weight-bold">Description:</span> <%=video.description%></small></div>
                <div class="kt-widget19__text mb-2">
                </div>
              </div>
              <div class="kt-divider"><span></span></div>
              <div class="kt-widget19__action">
                <!--Ownership Criteria of Videos-->
                <% if(currentUser && (currentUser.isFaculty || currentUser.isAdmin) && (JSON.stringify(currentUser._id) === JSON.stringify(video.author.id))) {%>
                <div class="float-right align-bottom">
                  <a class="btn btn-sm btn-label-brand btn-bold ml-4" href="/videos/<%=video._id %>/edit"
                    role="button">Edit</a>delete
                  <form class="d-inline-block delete-video-form" action="/videos/<%=video._id%>?_method=DELETE"
                    method="POST" onsubmit="return deleteFacultyVideo(event,this)">
                    <button type="submit" class="btn btn-sm btn-label-danger btn-bold ml-1">Delete</button>
                  </form>
                </div>
                <%}else if(currentUser && currentUser.isStudent){%>
                <div class="float-right">
                  <form id="save-video-form" class="d-inline float-right"
                    action="/user/<%=currentUser._id%>/videos/<%=video._id%>?_method=PUT" method="POST"
                    onsubmit='return bookmarkVideo(event, this)'>
                    <button type="submit"
                      class="btn btn-sm ml-1 <%=currentUser.videoBookmarks.includes(video.id) ? "btn-label-danger": "btn-label-warning" %>">
                      <%=currentUser.videoBookmarks.includes(video.id) ? "Bookmarked" : "Bookmark?" %></button>
                  </form>
                </div>
                <%} else if(!currentUser){%>
                <div class="float-right">
                  <form id=" bookmarkForm_<%=video._id %>" class="d-inline float-right save-video-form-signup"
                    action="javascript:;" onsubmit='return bookmarkVideosignup(event, this)'>
                    <button type="submit" class="btn btn-sm btn-warning btn-bold student-alert">Bookmark</button>
                  </form>
                </div>
                <%}%>
            </div>
          </div>
        </div>
        <!--end:: Widgets/Blog-->
    </div>
    <%})%>
              </div>
            </div>

          </div>
          <!--begin: Pagination-Bottom(sm)-->
          <div class="kt-grid__item kt-grid__item--fluid">
            <div class="kt-pagination kt-pagination--sm kt-pagination--brand mb-5">
              <ul class="kt-pagination__links">
                <li class="kt-pagination__link--first">
                  <a href="<%=videospaginateUrl%>page=1"><i class="fa fa-angle-double-left kt-font-brand"></i></a>
                </li>

                <li class="kt-pagination__link--next">
                  <a href="<%=videospaginateUrl%>page=<%=videos.page-1%>"><i
                      class="fa fa-angle-left kt-font-brand"></i></a>
                </li>
                <div class="d-flex" id='pagination-videos_bottom'>
                  <%if(videos.pages>=1 && videos.docs.length){%>
                  <% for(let i=1; i<=videos.pages; i++ ) {%>
                  <li id="video-pagination_<%=i%>_bottom"
                    class=<%= videos.page === i ? "kt-pagination__link--active" : "" %>>
                    <a id="video-pagination-url_<%=i%>_bottom" href="<%=videospaginateUrl%>page=<%=i%>"><%=i%></a>
                  </li>
                  <%}%>
                  <%}%>
                </div>

                <li class="kt-pagination__link--prev">
                  <a href="<%=videospaginateUrl%>page=<%=videos.page+1%>"><i
                      class="fa fa-angle-right kt-font-brand"></i></a>
                </li>

                <li class="kt-pagination__link--last">
                  <a href="<%=videospaginateUrl%>page=<%=videos.pages%>"><i
                      class="fa fa-angle-double-right kt-font-brand"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!--end: Pagination-->
        </div>

        <!-- Small Screens
<div class="kt-container  kt-grid__item kt-grid__item--fluid d-block d-md-none">
Hello
</div> -->