<% include ./_subheader-subheader-v2 %>
<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">



    <div class="container">
     
        <!--Begin::Section-->
        <div class="row">
                <%teachers.forEach(function(teacher){ %>
            <div class="col-xl-12">

                <!--begin:: Widgets/Applications/User/Profile3-->
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
                        <div class="kt-widget kt-widget--user-profile-3">
                            <div class="kt-widget__top">
                                <%if(teacher.image){%>
                                <div class="kt-widget__media kt-hidden-">
                                    <img src="./assets/media/users/100_1.jpg" alt="image">
                                </div>
                                <%} else {%>
                                <div
                                    class="kt-widget__pic kt-widget__pic--success kt-font-success kt-font-boldest kt-font-light">
                                    <%=teacher.firstName.charAt(0).toUpperCase()%><%=teacher.lastName.charAt(0).toUpperCase()%>
                                </div>
                                <%}%>
                                        <div class="kt-widget__content">
                                            <div class="kt-widget__head">
                                                <a href="#" class="kt-widget__username">
                                                    <%=teacher.firstName.charAt(0).toUpperCase()%><%=teacher.firstName.substring(1).toLowerCase()%>
                                <%=teacher.lastName.charAt(0).toUpperCase()%><%=teacher.lastName.substring(1).toLowerCase()%>
                                <i class="flaticon2-correct"></i>
                                </a>
                                <div class="kt-widget__action">
                                    <button  id='<%=teacher._id%>' class="btn btn-label-success btn-sm btn-upper faculty-follow-button">Follow</button>
                                    <a href="/teachers/<%=teacher._id%>"
                                        class="btn btn-label-brand btn-sm btn-upper">More Info</a>&nbsp;
                                </div>
                            </div>
                            <div class="kt-widget__subhead">
                                <a href="#"><i class="flaticon2-new-email"></i><%=teacher.email%></a>
                                <a href="#"><i class="flaticon2-calendar-3"></i>CA Faculty</a>
                                <a href="#"><i class="flaticon2-placeholder"></i><%=teacher.city%></a>
                            </div>
                            <div class="kt-widget__info">
                                <div class="kt-widget__desc">
                                    <%-teacher.description%>...
                                </div>
                                <!-- <div class="kt-widget__progress">
                                                    <div class="kt-widget__text">
                                                        Progress
                                                    </div>
                                                    <div class="progress" style="height: 5px;width: 100%;">
                                                        <div class="progress-bar kt-bg-success" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div class="kt-widget__stats">
                                                        78%
                                                    </div>
                                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="kt-widget__bottom">
                        <div class="kt-widget__item">
                            <div class="kt-widget__icon">
                                <i class="kt-font-brand flaticon2-avatar"></i>
                            </div>
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">Agg Download Counter</span>
                                <span class="kt-font-brand kt-widget__value">
                                    <%=teacher.downloads.reduce(function (accumulator, download) {return accumulator + download.downloadCounter}, 0)%>
                                    times</span>
                            </div>
                        </div>

                        <div class="kt-widget__item">
                            <div class="kt-widget__icon">
                                <i class="kt-font-warning flaticon2-file"></i>
                            </div>
                            <div class="kt-widget__details">
                                <span class="kt-widget__title"> Notes Upload</span>
                                <span class="kt-font-warning kt-widget__value"><%=teacher.downloads.length%></span>
                            </div>
                        </div>
                        <div class="kt-widget__item">
                            <div class="kt-widget__icon">
                                <i class="kt-font-danger flaticon2-digital-marketing"></i>
                            </div>
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">Video Uploads</span>
                                <span class="kt-font-danger kt-widget__value"><%=teacher.videos.length%></span>
                            </div>
                        </div>
                        <!-- <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-pie-chart"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Net</span>
                                                    <span class="kt-widget__value"><span>$</span>164,700</span>
                                                </div>
                                            </div>
                                        <div class="kt-widget__item">
                                            <div class="kt-widget__icon">
                                                <i class="flaticon-network"></i>
                                            </div>
                                            <div class="kt-widget__details">
                                                <div class="kt-section__content kt-section__content--solid">
                                                        <div class="kt-badge kt-badge__pics">
                                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="John Myer">
                                                            <img src="./assets/media/users/100_7.jpg" alt="image">
                                                        </a>
                                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Alison Brandy">
                                                            <img src="./assets/media/users/100_3.jpg" alt="image">
                                                        </a>
                                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Selina Cranson">
                                                            <img src="./assets/media/users/100_2.jpg" alt="image">
                                                        </a>
                                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Luke Walls">
                                                            <img src="./assets/media/users/100_13.jpg" alt="image">
                                                        </a>
                                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
                                                            <img src="./assets/media/users/100_4.jpg" alt="image">
                                                        </a>
                                                        <a href="#" class="kt-badge__pic kt-badge__pic--last kt-font-brand">
                                                            +7
                                                        </a>
                                                    </div>
                                                </div>
                                            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
    <!--end:: Widgets/Applications/User/Profile3-->
</div>


<!--End::Section-->

</div>
</div>
