<% include ./_subheader-subheader-v2 %>

<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <!--Begin::Section-->
        <div class="row">
            <%teachers.forEach(function(teacher){ %>
            <div class="col-md-4 col-lg-3">
    
                <!--Begin::Portlet-->
    
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
    
                        <!--begin::Widget -->
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__head">
                                <div class="kt-widget__media">
                                    <%if(teacher.image){%>
                                        <img class="kt-hidden" src="./assets/media/users/100_1.jpg" alt="image">
                                    <%} else {%>
                                        <div class="kt-widget__pic kt-widget__pic--info kt-font-info kt-font-boldest  kt-hidden-">
                                                <%=teacher.firstName.charAt(0).toUpperCase()%><%=teacher.lastName.charAt(0).toUpperCase()%>
                                    </div>
                                    <%}%>
                                </div>
                                <div class="kt-widget__info">
                                    <a href="/teachers/<%=teacher._id%>" class="kt-widget__username">
                                            <%=teacher.firstName.charAt(0).toUpperCase()%><%=teacher.firstName.substring(1).toLowerCase()%>
                                            <%=teacher.lastName.charAt(0).toUpperCase()%><%=teacher.lastName.substring(1).toLowerCase()%>
                                    </a>
                                    <span class="kt-widget__desc">
                                        CA Faculty
                                    </span>
                                </div>
                            </div>
                            <div class="kt-widget__body">
                                <div class="kt-widget__section">
                                    <%=teacher.description%>
                                </div>
                                <div class="kt-widget__item">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Email:</span>
                                        <a href="#" class="kt-widget__data"><%=teacher.workemail%></a>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Phone:</span>
                                        <a href="#" class="kt-widget__data"><%=teacher.workmobile%></a>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Location:</span>
                                        <span class="kt-widget__data"><%=teacher.city%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget__footer">
                                <div class="row">
                                    <!-- <div class="col">
                                        <%if(currentUser && currentUser.following.includes(teacher.id)){%>
                                            <button id='<%=teacher._id%>'class="btn btn-label-danger btn-sm btn-upper faculty-follow-button">Unfollow</button>
                                        <%} else if (currentUser && !currentUser.following.includes(teacher.id)) {%>
                                            <button id='<%=teacher._id%>' class="btn btn-label-success btn-sm btn-upper faculty-follow-button">Follow</button>
                                        <%}%>
                                    </div> -->
                                    <div class="col"> <a href="/teachers/<%=teacher._id%>" class="btn btn-label-brand btn-sm btn-upper">More Info</a>&nbsp;</div>
                                </div>
                                   
                                        
                                <!-- <button type="button" class="btn btn-label-brand btn-lg btn-upper">write message</button>
                                <button type="button" class="btn btn-label-brand btn-lg btn-upper">write message</button> -->
                            </div>
                        </div>
    
    
                        <!--end::Widget -->
                    </div>
                </div>
    
                <!--End::Portlet-->
            </div>
            <%})%>
        </div>
        <!--End::Section-->
    
</div>
    
<!-- end:: Content -->






















        
            <!-- Old Index -->
                <!-- <div class="row">
                    <%teachers.forEach(function(teacher){ %>
                    <div class="col-xl-12">
        
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__body">
                                <div class="kt-widget kt-widget--user-profile-3">
                                    <div class="kt-widget__top">
                                        <%if(teacher.image){%>
                                        <div class="kt-widget__media kt-hidden-">
                                            <img src="./assets/media/users/100_1.jpg" alt="image">
                                        </div>
                                        <%} else {%>
                                        <div class="kt-widget__pic kt-widget__pic--success kt-font-success kt-font-boldest kt-font-light"
                                            style="height:5rem; width: 5rem; ">
                                            <%=teacher.firstName.charAt(0).toUpperCase()%><%=teacher.lastName.charAt(0).toUpperCase()%>
                                        </div>
                                        <%}%>
                                <div class="kt-widget__content">
                                    <div class="kt-widget__head">
                                        <a href="#" class="kt-widget__username">
                                        <%=teacher.firstName.charAt(0).toUpperCase()%><%=teacher.firstName.substring(1).toLowerCase()%>
                                        <%=teacher.lastName.charAt(0).toUpperCase()%><%=teacher.lastName.substring(1).toLowerCase()%>
                                        <i class="flaticon2-correct"></i>
                                        </a>
                                        <div class="kt-widget__action" id='parent_<%=teacher._id%>'>
                                            <%if(currentUser && currentUser.following.includes(teacher.id)){%>
                                            <button id='<%=teacher._id%>'
                                                class="btn btn-label-danger btn-sm btn-upper faculty-follow-button">Unfollow</button>
                                            <%} else if (currentUser && !currentUser.following.includes(teacher.id)) {%>
                                            <button id='<%=teacher._id%>'
                                                class="btn btn-label-success btn-sm btn-upper faculty-follow-button">Follow</button>
                                            <%}%>
                                            <a href="/teachers/<%=teacher._id%>"
                                            class="btn btn-label-brand btn-sm btn-upper">More Info</a>&nbsp;
                                        </div>
                                    </div>
                                    <div class="kt-widget__subhead">
                                        <a href="#"><i class="flaticon2-new-email"></i><%=teacher.email%></a>
                                        <a href="#"><i class="flaticon2-calendar-3"></i>CA Faculty</a>
                                        <a href="#"><i class="flaticon2-placeholder"></i><%=teacher.city%></a>
                                    </div>
                                    <div class="kt-widget__info">
                                        <div class="kt-widget__desc">
                                            <%-teacher.description%>...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget__bottom">
                                <div class="kt-widget__item">
                                    <div class="kt-widget__icon">
                                        <i class="kt-font-brand flaticon2-avatar" style="font-size: 2rem;"></i>
                                    </div>
                                    <div class="kt-widget__details">
                                        <span class="kt-widget__title">Agg Download Counter</span>
                                        <span class="kt-font-brand kt-widget__value">
                                            <%=teacher.downloads.reduce(function (accumulator, download) {return accumulator + download.downloadCounter}, 0)%>
                                            times</span>
                                    </div>
                                </div>
        
                                <div class="kt-widget__item">
                                    <div class="kt-widget__icon">
                                        <i class="kt-font-warning flaticon2-file" style="font-size: 2rem;"></i>
                                    </div>
                                    <div class="kt-widget__details">
                                        <span class="kt-widget__title"> Notes Upload</span>
                                        <span class="kt-font-warning kt-widget__value"><%=teacher.downloads.length%></span>
                                    </div>
                                </div>
                                <div class="kt-widget__item">
                                    <div class="kt-widget__icon">
                                        <i class="kt-font-danger flaticon2-digital-marketing" style="font-size: 2rem;"></i>
                                    </div>
                                    <div class="kt-widget__details">
                                        <span class="kt-widget__title">Video Uploads</span>
                                        <span class="kt-font-danger kt-widget__value"><%=teacher.videos.length%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div> -->
        
        
        