<% include ./_subheader-subheader-v2 %>
<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
  <!-------------------------------------------------------------------------------->
  <!----------------------------Downloads Table------------------------------------->
  <!-------------------------------------------------------------------------------->

  <!-- <p><a href="/downloads/upload" class="btn btn-primary btn-sm float-right d-inline-block mr-3">Upload</a></p> -->
  <!--begin::Portlet-->
  <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_4">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          Filter/Search Documents
        </h3>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-group">
          <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-danger btn-icon-md"><i
              class="la la-angle-down"></i></a>
          <!-- <a href="#" data-ktportlet-tool="reload" class="btn btn-sm btn-icon btn-success btn-icon-md"><i class="la la-refresh"></i></a> -->
          <!-- <i href="#" data-ktportlet-tool="remove" class="btn btn-sm btn-icon btn-warning btn-icon-md"><i class="la la-close"></i></a> -->
        </div>
      </div>
    </div>
    <div class="kt-portlet__body">

      <form class="form-inline float-right my-2 my-lg-0 ml-auto" id='dataTable_filter_ajax' action="/downloadscopy"
        method="GET">
        <div class="row">
          <div class="p-2 bd-highlight mb-3 mr-4">
            <input class="form-control mr-sm-2" id="search-document" type="text" placeholder="Search Downloads..."
              name="search" aria-label="Search" value="">
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="exam[]">Exam</label>
              </div>
              <select class="custom-select documentGroupSelect" id="exam" name="exam[]" onchange="return filter()">
                <option class="choose-document" disabled <%= !docquery.exam ? "selected" : "" %>>Choose...</option>
                <option value="All">All</option>
                <option value="rf" <%= docquery.exam && docquery.exam.includes("rf") ? "selected" : "" %>>Remove Filter
                </option>
                <option value="CA Final(New)"
                  <%= docquery.exam && docquery.exam.includes("CA Final(New)") ? "selected" : "" %>>CA Final(New)
                </option>
                <option value="CA Final(Old)"
                  <%= docquery.exam && docquery.exam.includes("CA Final(Old)") ? "selected" : "" %>>CA Final(Old)
                </option>
                <option value="CA Intermediate(New)"
                  <%= docquery.exam && docquery.exam.includes("CA Intermediate(New)") ? "selected" : "" %>>CA
                  Intermediate(New)</option>
                <option value="CA IPCC(Old)"
                  <%= docquery.exam && docquery.exam.includes("CA IPCC(Old)") ? "selected" : "" %>>
                  CA IPCC(Old)</option>
                <option value="CA Foundation(New)"
                  <%= docquery.exam && docquery.exam.includes("CA Foundation(New)") ? "selected" : "" %>>CA
                  Foundation(New)
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="attempt[]">Attempt</label>
              </div>
              <select class="custom-select documentGroupSelect" id="attempt" name="attempt[]"
                onchange="return filter()">
                <option disabled <%= !docquery.attempt ? "selected" : "" %>>Choose...</option>
                <option value="All">All</option>
                <option value="rf" <%= docquery.attempt && docquery.attempt.includes("rf") ? "selected" : "" %>>Remove
                  Filter
                </option>
                <option value="Nov 2019"
                  <%= docquery.attempt && docquery.attempt.includes("Nov 2019") ? "selected" : "" %>>
                  Nov 2019</option>
                <option value="May 2020"
                  <%= docquery.attempt && docquery.attempt.includes("May 2020") ? "selected" : "" %>>
                  May 2020</option>
                <option value="Nov 2020"
                  <%= docquery.attempt && docquery.attempt.includes("Nov 2020") ? "selected" : "" %>>
                  Nov 2020</option>
                <option value="May 2021"
                  <%= docquery.attempt && docquery.attempt.includes("May 2021") ? "selected" : "" %>>
                  May 2021</option>
                <option value="Nov 2021"
                  <%= docquery.attempt && docquery.attempt.includes("Nov 2021") ? "selected" : "" %>>
                  Nov 2021</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="author">Author</label>
              </div>
              <select class="custom-select documentGroupSelect" id="author" name="author">
                <option disabled <%= !docquery.author ? "selected" : "" %>>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="documentGroupSelect04">Option</label>
              </div>
              <select class="custom-select documentGroupSelect" id="documentGroupSelect04">
                <option disabled>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="subject[]">Subject</label>
              </div>
              <select class="custom-select documentGroupSelect" id="subject" name="subject[]"
                onchange="return filter()">
                <option <%= !docquery.subject ? "selected" : "" %> disabled>Choose...</option>
                <option value="All">All</option>
                <option value="rf" <%= docquery.subject && docquery.subject.includes("rf") ? "selected" : "" %>>Remove
                  Filter
                </option>
                <option value="CA Final - P1: Financial Reporting"
                  <%= docquery.subject && docquery.subject.includes("CA Final - P1: Financial Reporting") ? "selected" : "" %>>
                  P1:Financial Reporting</option>
                <option value="CA Final - P2: Strategic Financial Management"
                  <%= docquery.subject && docquery.subject.includes("CA Final - P2: Strategic Financial Management") ? "selected" : "" %>>
                  P2:Strategic Financial Management</option>
                <option value="CA Final - P3: Advanced Auditing and Professional Ethics"
                  <%= docquery.subject && docquery.subject.includes("CA Final - P3: Advanced Auditing and Professional Ethics") ? "selected" : "" %>>
                  P3:Advanced Auditing and Professional Ethics</option>
                <option value="CA Final - P4: Corporate & Economic Laws"
                  <%= docquery.subject && docquery.subject.includes("CA Final - P4: Corporate & Economic Laws") ? "selected" : "" %>>
                  P4:Corporate & Economic Laws</option>
                <option value="CA Final - P5: Strategic Cost Management and Performance Evaluation"
                  <%= docquery.subject && docquery.subject.includes("CA Final - P5: Strategic Cost Management and Performance Evaluation") ? "selected" : "" %>>
                  P5:Strategic Cost Management and Performance Evaluation</option>
                <option value="CA Final - P6A: Risk Management"
                  <%= docquery.subject && docquery.subject.includes("CA Final - P6A: Risk Management") ? "selected" : "" %>>
                  P6A:Risk Management</option>
                <option value="CA Final - P6B: Financial Services & Capital Markets"
                  <%= docquery.subject && docquery.subject.includes("CA Final - P6B: Financial Services & Capital Markets") ? "selected" : "" %>>
                  P6B:Financial Services & Capital Markets</option>
                <option value="CA Final - P6C: International Taxation"
                  <%= docquery.subject && docquery.subject.includes("CA Final - P6C: International Taxation") ? "selected" : "" %>>
                  P6C:International Taxation</option>
                <option value="CA Final - P6E: Global Financial Reporting Standards"
                  <%= docquery.subject && docquery.subject.includes("CA Final - P6E: Global Financial Reporting Standards") ? "selected" : "" %>>
                  P6E:Global Financial Reporting Standards</option>
                <option value="CA Final - P6F: Multi-disciplinary Case Study"
                  <%= docquery.subject && docquery.subject.includes("CA Final - P6F: Multi-disciplinary Case Study") ? "selected" : "" %>>
                  P6F:Multi-disciplinary Case Study</option>
                <option value="CA Final - P7: Direct Tax Laws & International Taxation"
                  <%= docquery.subject && docquery.subject.includes("CA Final - P7: Direct Tax Laws & International Taxation") ? "selected" : "" %>>
                  P7:Direct Tax Laws & International Taxation</option>
                <option value="CA Final - P8: Indirect Tax Laws"
                  <%= docquery.subject && docquery.subject.includes("CA Final - P8: Indirect Tax Laws") ? "selected" : "" %>>
                  P8:Indirect Tax Law</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="topic">Topic</label>
              </div>
              <select class="custom-select documentGroupSelect" id="topic" name="topic">
                <option disabled <%= !docquery.topic ? "selected" : "" %>>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="subtopic">Subtopic</label>
              </div>
              <select class="custom-select documentGroupSelect" id="subtopic">
                <option>Choose...</option>

              </select>
            </div>
          </div>
          <div class="col-md-1">
            <button type="submit" id="downloads_filter_submit" class="btn btn-label-success btn-bold">Submit</button>
          </div>
          <div class="col-md-2">
            <a class="btn btn-label-danger btn-bold" href="/downloadscopy" id="clear-download-form-copy">Reset</a>
          </div>
        </div>
      </form>

      <div class="kt-section__content kt-section__content--solid">
        <span class="">Filter Tags: </span>
        <div id='downloads-filter-tags' class="d-inline">
          <!-- <span class="btn btn-label-warning">Primary</span> -->
        </div>
      </div>
    </div>
  </div>
  <!--end::Portlet-->


  <div class="container-fluid mb-5" id="container_download">

    <!--begin: Pagination(sm)-->
    <div class="kt-pagination kt-pagination--sm kt-pagination--brand my-3">
      <ul class="kt-pagination__links">
        <li class="kt-pagination__link--first">
          <a href="<%=paginateUrl%>1"><i class="fa fa-angle-double-left kt-font-brand"></i></a>
        </li>

        <li class="kt-pagination__link--next">
          <a href="<%=paginateUrl%><%=downloads.page-1%>"><i class="fa fa-angle-left kt-font-brand"></i></a>
        </li>
        <div class="d-flex" id='pagination-downloads'>
          <%if(downloads.pages>1 && downloads.docs.length){%>
          <% for(let i=1; i<=downloads.pages; i++ ) {%>
          <li id="pagination_<%=i%>" class=<%= downloads.page === i ? "kt-pagination__link--active" : "" %>>
            <a id="pagination-url_<%=i%>" href="<%=paginateUrl%><%=i%>"><%=i%></a>
          </li>
          <%}%>
        <%}%>
        </div>
        <!-- <li>
          <a href="#">2</a>
        </li> -->
        <%if((downloads.page+1)<= downloads.pages){%>
        <li class="kt-pagination__link--prev">
          <a href="<%=paginateUrl%><%=downloads.page+1%>"><i class="fa fa-angle-right kt-font-brand"></i></a>
        </li>
        <%}%>
        <li class="kt-pagination__link--last">
          <a href="<%=paginateUrl%><%=downloads.pages%>"><i class="fa fa-angle-double-right kt-font-brand"></i></a>
        </li>
      </ul>
      <div class="kt-pagination__toolbar">
        <form id="limit-downloadTable-form" method="GET" action="#">
          <select class="form-control kt-font-brand" id="limit-downloadTable" name="limit" style="width: 60px;">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
          </select>
        </form>
        <span class="pagination__desc">
          Showing 1 to <%= downloads.limit%> of <%=downloads.total%>
        </span>
      </div>
    </div>

    <!--end: Pagination-->

    <table id="example" class="table table-striped table-bordered dataTable dtr-inline table-hover" style="width:100%">
      <thead>
        <tr id="download-header">
          <th class="text-center align-middle text-nowrap">No</th>
          <th class="text-center align-middle text-nowrap">Date of Upload
            <!-- <button type="button" class="btn btn-outline-hover-primary btn-sm btn-icon"> -->
            <span class="createdAt"><i class="la la-arrow-up la-arrow-up-download-date arrow-inactive"></i></span>
            <!-- </button>  -->
            <!-- <button type="button" class="btn btn-outline-hover-primary btn-sm btn-icon"> -->
            <span class="-createdAt"><i
                class="la la-arrow-down la-arrow-down-download-date downloads-sort-active"></i></span>
            <!-- </button> -->
          </th>
          <th class="text-center align-middle text-nowrap">Author <span class='author'><i
                class="la la-arrow-up ascending-download-author arrow-inactive"></i></span><span class='-author'><i
                class="la la-arrow-down la-arrow-down-download-author arrow-inactive"></i></span></th>
          <th class="text-center align-middle text-nowrap">Title</th>
          <th class="text-center align-middle text-nowrap">Exam <span class='exam'><i
                class="la la-arrow-up ascending-download-exam arrow-inactive"></i></span> <span class='-exam'><i
                class="la la-arrow-down la-arrow-down-download-exam arrow-inactive"></i></span></th>
          <th class="text-center align-middle text-nowrap">Attempt
            <!-- <span class='attempt'><i class="la la-arrow-up ascending-download-attempt arrow-inactive"></i></span> <span class='-attempt'>
              <i class="la la-arrow-down la-arrow-down-download-attempt arrow-inactive"></i></span> -->
          </th>
          <th class="text-center align-middle text-nowrap">Subject <span class='subject'><i
                class="la la-arrow-up ascending-download-subject arrow-inactive"></i></span> <span class='-subject'><i
                class="la la-arrow-down la-arrow-down-download-subject arrow-inactive"></i></span></th>
          <th class="text-center align-middle text-nowrap">No of Downloads <span class='downloadCounter'><i
                class="la la-arrow-up ascending-download-number arrow-inactive"></i></span> <span
              class='-downloadCounter'><i
                class="la la-arrow-down la-arrow-down-download-number arrow-inactive"></i></span></th>
          <th class="text-center align-middle text-nowrap">Download</th>
        </tr>
      </thead>
      <tbody>
        <%downloads.docs.forEach(function(document,index){%>
        <tr>
          <td class="align-middle text-center"><%=index +1 %></td>
          <td class="align-middle text-center"><%=document.createdAt.toDateString()%></td>
          <td class="align-middle text-center text-capitalize"><%=document.author.username%></td>
          <td class="align-middle text-center dataTableText"><%=document.title%></td>
          <td class="align-middle text-center"><span
              class="btn btn-bold btn-sm btn-font-sm <%=examsButtons[document.exam].class%>"><%=document.exam%></span>
          </td>
          <td class="align-middle text-center"><span
              class="btn btn-bold btn-sm btn-font-sm btn-pill <%=attemptsButtons[document.attempt[0]].class%> text-nowrap"><%=document.attempt%></span>
          </td>
          <td class="align-middle text-center"><%=document.subject%></td>
          <td class="align-middle text-center"><span
              class="kt-badge kt-badge--success kt-badge--lg"><%=document.downloadCounter%></span></td>
          <td class="align-middle text-center"><span class="dropdown">
              <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-sm" data-toggle="dropdown" aria-expanded="true">
                <i class="fas fa-ellipsis-v"></i></a>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-item">
                  <form action="/downloads/<%=document._id%>/edit" method="GET">
                    <button class="btn btn-sm btn-label-success"><i class="far fa-edit"></i>Edit</button>
                  </form>
                </div>
                <div class="dropdown-item">
                  <form action="/downloads/<%=document._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-label-danger"><i class="far fa-trash-alt"></i> Delete</button>
                  </form>
                </div>
              </div>
            </span>
            <a href="/downloads/docs/<%=document._id%>" id="<%=document._id%>" title="Download" target="_blank"
              class="download_button btn btn-sm btn-clean btn-icon btn-icon-md"><span class="pr-2"><i
                  class="fas fa-file-download"></i></span></a></a>

            <form id="bookmark_<%=document._id%>" class="d-inline-block m-0 p-0 bookmark-ajax-form"
              action="/user/downloads/<%=document._id%>/bookmark" method="POST">
              <button type="submit" title="Bookmark"
                class="btn btn-sm btn-clean btn-icon btn-icon-md <%=document._id%>"><i
                  class="fas fa-bookmark"></i></button>
            </form>
<!-- 
            <div class="kt-widget2__actions">
              <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
                <i class="flaticon-more-1"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">
                <ul class="kt-nav">
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-line-chart"></i>
                      <span class="kt-nav__link-text">Reports</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-send"></i>
                      <span class="kt-nav__link-text">Messages</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
                      <span class="kt-nav__link-text">Charts</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-avatar"></i>
                      <span class="kt-nav__link-text">Members</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-settings"></i>
                      <span class="kt-nav__link-text">Settings</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div> -->
            <a href="https://web.whatsapp.com/send?text=/downloads/<%=document._id%>" title="Share"
              target="_blank"><span class="btn btn-sm btn-clean btn-icon btn-icon-md"><i
                  class="fas fa-share-alt"></i></span></a>
          </td>
        </tr>
        <%})%>
      </tbody>
      <tfoot>
        <tr>
          <th class="text-center align-middle">No</th>
          <th class="text-center align-middle">Date of Upload</th>
          <th class="text-center align-middle">Author</th>
          <th class="text-center align-middle">Title</th>
          <th class="text-center align-middle">Exam</th>
          <th class="text-center align-middle">Attempt</th>
          <th class="text-center align-middle">Subject</th>
          <th class="text-center align-middle">No of Downloads</th>
          <th class="text-center align-middle">Download</th>
        </tr>
      </tfoot>
    </table>
  </div>

  <script>
    function filter() {
      $('#search-document').val("")
      var filterItemsArray = $('#dataTable_filter_ajax').serializeArray();
      $('#downloads-filter-tags').empty();
      filterItemsArray.forEach(function (filter) {
        if (filter.value && filter.value !== "" && filter.value !== 'rf') {
          filtername = filter.name.slice(0, (filter.name.indexOf('[')));
          $('#downloads-filter-tags').append(`<span id="${filtername}" class="btn btn-label-warning">${filter.value}<span class='ml-1'><i class="la la-close la-sm"></span></span>&nbsp;`);
        }
      })
      refreshDataTable();
    }
    function filterMain() {
      var filterItems = $('#dataTable_filter_ajax').serialize();
      console.log(filterItems);
      let limitNo = $('#limit-downloadTable').val();
      let limitUrl = `/downloadscopy?limit=${limitNo}`;
      $.get(limitUrl, filterItems, function (data) {
        console.log(data);
        $("tbody").empty();
        data.docs.forEach(function (document, index) {
          $("tbody").append(`
         <tr>
           <td class="align-middle text-center">${index + 1}</td>
           <td class="align-middle text-center">${moment(document.createdAt).format("DD-MMM-YYYY")}</td>
           <td class="align-middle text-center">${document.author.username}</td>
           <td class="align-middle text-center dataTableText">${document.title}</td>
           <td class="align-middle text-center"><span class="btn btn-bold btn-sm btn-font-sm ${data.examsButtons[document.exam].class}">${document.exam}</span></td>
           <td class="align-middle text-center"><span class="btn btn-bold btn-sm btn-font-sm btn-pill 
            ${data.attemptsButtons[document.attempt[0]].class} text-nowrap">${document.attempt}</span></td>
           <td class="align-middle text-center text-nowrap">${document.subject}</td>
           <td class="align-middle text-center"><span class="kt-badge kt-badge--success kt-badge--lg">${document.downloadCounter}</span></td>
           <td class="align-middle text-center"><span class="dropdown">
                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-sm" data-toggle="dropdown" aria-expanded="true"> <i class="fas fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-item"> 
                    <form action="/downloads/${document._id}/edit" method="GET">
                      <button class="btn btn-sm btn-label-success"><i class="far fa-edit"></i>Edit</button>
                    </form>
                </div>
                   <div class="dropdown-item"> 
                    <form action="/downloads/${document._id}?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-label-danger"><i class="far fa-trash-alt"></i> Delete</button>
                    </form>
                </div>
                </div>
                </span>
             <a href="/downloads/docs/${document._id}" id="${document._id}" title="Download" target="_blank" class="download_button btn btn-sm btn-clean btn-icon btn-icon-md"><span class="pr-2"><i class="fas fa-file-download"></i></span></a></a>
             
            <form id="bookmark_${document._id}" class="d-inline-block m-0 p-0 bookmark-ajax-form" action="/user/downloads/${document._id}/bookmark" method="POST">
                      <button type="submit" title="Bookmark" class="btn btn-sm btn-clean btn-icon btn-icon-md ${document._id}"><i class="fas fa-bookmark"></i></button>
            </form>
            <a href="https://web.whatsapp.com/send?text=http://${$(location).attr('host')}/downloads/${document._id}" title="Share" target="_blank"><span class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="fas fa-share-alt"></i></span></a>
          </td>
         </tr>
         `);
        });

        $('#pagination-downloads').empty();
        for (let i = 1; i <= data.pages; i++) {
          $('#pagination-downloads').append(`<li id="pagination_${i}"> <a href="${data.pageUrl}${i}" id="pagination-url_${i}">${i}</a></li>`)
        }
        $('#pagination-downloads li').first().addClass('kt-pagination__link--active')

        let curPage = $('#pagination-downloads .kt-pagination__link--active').text().trim();
        let currentPage = parseInt(curPage);
        let limit = data.limit;
        let totalEntries = data.total;
        let probsecondNumber = limit * currentPage;
        let secondNumber = Math.min(probsecondNumber, totalEntries);
        let firstNumber = secondNumber - (secondNumber - 1);
        $(".pagination__desc").text(`Showing ${firstNumber} to ${secondNumber} of ${totalEntries}`)
      })
    };

    function shareLink(e){
  e.preventDefault();
  alert('clicked');
 let href =  $(this).first();
  console.log(href);
}
  </script>
  <!-- end:: Content -->