<% include ./_subheader-subheader-v2 %>
<!-- begin:: Content -->
<div id="facultyDashboardDocs-container" class="mx-2">
  <!--begin: Filter-->
  <div class="kt-container  kt-grid__item kt-grid__item--fluid mb-2 px-0">
    <!--Begin::Section-->
    <div class="row">
        <h5 class="ml-3"><%=faculty.docs[0].username%>'s Profile</h5>
        <span class="ml-2 text-muted">The following profile will be visible to the users. </span>
    </div>
    <div class="row">
        <div class="col-xl-12">
    
          <!--begin:: Widgets/Applications/User/Profile3-->
          <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__body">
              <div class="kt-widget kt-widget--user-profile-3">
                <div class="kt-widget__top">
                  <%if(faculty.docs[0].image){%>
                  <div class="kt-widget__media kt-hidden-">
                    <img src="./assets/media/users/100_1.jpg" alt="image">
                  </div>
                  <%} else {%>
                  <div class="kt-widget__pic kt-widget__pic--success kt-font-success kt-font-boldest kt-font-light">
                    <%=faculty.docs[0].firstName.charAt(0).toUpperCase()%><%=faculty.docs[0].lastName.charAt(0).toUpperCase()%>
                  </div>
                  <%}%>
                <div class="kt-widget__content">
                <div class="kt-widget__head">
                  <a href="#" class="kt-widget__username">
                  <%=faculty.docs[0].firstName.charAt(0).toUpperCase()%><%=faculty.docs[0].firstName.substring(1).toLowerCase()%>
                  <%=faculty.docs[0].lastName.charAt(0).toUpperCase()%><%=faculty.docs[0].lastName.substring(1).toLowerCase()%>
                  <i class="flaticon2-correct"></i>
                  </a>
                  <div class="kt-widget__action">
                      <a href="/account-details/<%=faculty.docs[0]._id%>/edit" class="btn btn-label-brand btn-sm btn-upper">Edit</a>&nbsp;
                      <!-- <button type="button" class="btn btn-brand btn-sm btn-upper">hire</button> -->
                  </div>
                </div>
                <div class="kt-widget__subhead">
                  <a href="#"><i class="flaticon2-calendar-3"></i>CA Faculty</a>
                  <a href="#"><i class="flaticon2-new-email" title="Email"></i><%=faculty.docs[0].workemail%></a>
                  <a href="#"><i class="flaticon2-phone" title="Mobile"></i><%= faculty.docs[0].workmobile || faculty.docs[0].workmobile !== "" ? faculty.docs[0].workmobile : `-` %></a>
                  <a href="#"><i class="flaticon2-placeholder" title="Location"></i><%=faculty.docs[0].city%></a>
                </div>
                <div class="kt-widget__info">
                  <div class="kt-widget__desc">
                    <%=faculty.docs[0].description%>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-widget__bottom">
              <div class="kt-widget__item" title="This states the total no of times the aggregate documents of this faculty was downloaded.">
                <div class="kt-widget__icon">
                  <i class="kt-font-brand flaticon2-avatar"></i>
                </div>
                <div class="kt-widget__details">
                  <span class="kt-widget__title">Agg Download Counter</span>
                  <span class="kt-font-brand kt-widget__value">
                    <%=faculty.docs[0].downloads.reduce(function (accumulator, download) {return accumulator + download.downloadCounter}, 0)%>
                    times</span>
                </div>
              </div>
    
              <div class="kt-widget__item" title="This states the total no of documents uploaded by the faculty.">
                <div class="kt-widget__icon">
                  <i class="kt-font-warning flaticon2-file"></i>
                </div>
                <div class="kt-widget__details">
                  <span class="kt-widget__title"> Notes Upload</span>
                  <span class="kt-font-warning kt-widget__value"><%=faculty.docs[0].downloads.length%></span>
                </div>
              </div>
              <div class="kt-widget__item" title="This states the total no of videos uploaded by the faculty.">
                <div class="kt-widget__icon">
                  <i class="kt-font-danger flaticon2-digital-marketing"></i>
                </div>
                <div class="kt-widget__details">
                  <span class="kt-widget__title">Video Uploads</span>
                  <span class="kt-font-danger kt-widget__value"><%=faculty.docs[0].videos.length%></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--end:: Widgets/Applications/User/Profile3-->
    </div>
    <!--End::Section-->
  </div>

  <div class="kt-container  kt-grid__item kt-grid__item--fluid white-container py-4">
    <h5>Document Uploaded</h5>

    <!--begin: Pagination-->
    <div class="kt-pagination kt-pagination--sm kt-pagination--brand my-3 justify-content-center">

      <div class="kt-pagination__toolbar">
        <div class="mr-3 d-block d-lg-none">
          <select class="form-control kt-font-brand" id="facultyDashboardDocs-sorting-mobile" name="sortDashboard"
            onchange="return facultyDashDocs_filter();">
            <option disabled>Sort</option>
            <option value="-createdAt">
              Lastest
            </option>
            <option value="createdAt">
              Earliest
            </option>
            <option value="-exam">
              Exam-Desc
            </option>
            <option value="exam">
              Exam-Asc
            </option>
            <option value="-attempt">
              Attempt-Desc
            </option>
            <option value="attempt">
              Attempt-Asc
            </option>
            <option value="-author">
              Author-Desc
            </option>
            <option value="author">
              Author-Asc
            </option>
          </select>
        </div>
        <div>
          <span id="noOfDocUploads" class="pagination__desc align-items-center">
            Showing <%= faculty.docs[0].downloads.length%> Uploads
          </span>
        </div>
      </div>
      </div>

      <!--begin: Table-->
      <div id='largeScreen-facultyDashboardDocs' class="d-none d-lg-block">

        <div class="table-responsive overflow-auto" style="max-height: 70rem">
          <table id="facultyDashboardDocs-download" class="table table-striped table-bordered table-hover">
            <thead>
              <tr id="facultyDashboardDocs-tableHeader">
                <th class="text-center align-middle text-nowrap">No</th>
                <th class="text-center align-middle text-nowrap">Date of Upload
                  <span class="createdAt"><i class="la la-arrow-up la-arrow-up-download-date arrow-inactive"></i></span>
                  <span class="-createdAt"><i
                      class="la la-arrow-down la-arrow-down-download-date faculty-sort-active"></i></span>
                </th>
                <th class="text-center align-middle text-nowrap">Author <span class="author"><i
                      class="la la-arrow-up ascending-download-author arrow-inactive"></i></span><span
                    class="-author"><i class="la la-arrow-down la-arrow-down-download-author arrow-inactive"></i></span>
                </th>
                <th class="text-center align-middle text-nowrap">Title</th>
                <th class="text-center align-middle text-nowrap">Exam <span class="exam"><i
                      class="la la-arrow-up ascending-download-exam arrow-inactive"></i></span> <span class="-exam"><i
                      class="la la-arrow-down la-arrow-down-download-exam arrow-inactive"></i></span></th>
                <th class="text-center align-middle text-nowrap">Attempt
                  <i class="la la-arrow-down la-arrow-down-download-attempt arrow-inactive"></i></span>
                </th>
                <th class="text-center align-middle text-nowrap">Subject <span class="subject"><i
                      class="la la-arrow-up ascending-download-subject arrow-inactive"></i></span> <span
                    class="-subject"><i
                      class="la la-arrow-down la-arrow-down-download-subject arrow-inactive"></i></span>
                </th>
                <th class="text-center align-middle text-nowrap">No of Downloads <span class="downloadCounter"><i
                      class="la la-arrow-up ascending-download-number arrow-inactive"></i></span> <span
                    class="-downloadCounter"><i
                      class="la la-arrow-down la-arrow-down-download-number arrow-inactive"></i></span></th>
                <th class="text-center align-middle text-nowrap">Action</th>
              </tr>
            </thead>
            <tbody id="facultyDashboardDocs-tableBody">
              <%faculty.docs[0].downloads.forEach(function(document,index){%>
              <tr>
                <td class="align-middle text-center"><%=index +1 %></td>
                <td class="align-middle text-center"><%=document.createdAt.toDateString()%></td>
                <td class="align-middle text-center text-capitalize"><%=document.author.username%></td>
                <td class="align-middle text-center"><%=document.title%></td>
                <td class="align-middle text-center"><span class=""><%=document.exam%></span>
                </td>
                <td class="align-middle text-center"><span class="text-nowrap"><%=document.attempt%></span>
                </td>
                <td class="align-middle text-center"><%=document.subject%></td>
                <td class="align-middle text-center"><span
                    class="kt-badge kt-badge--success kt-badge--lg"><%=document.downloadCounter%></span></td>
                <td class="align-middle text-center">
                  <span class="dropdown">
                    <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-sm" data-toggle="dropdown"
                      aria-expanded="true">
                      <i class="fas fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <div class="dropdown-item">
                        <form action="/downloads/<%=document._id%>/edit" method="GET">
                          <button class="btn btn-sm btn-label-success"><i class="far fa-edit"></i>Edit</button>
                        </form>
                      </div>
                      <div class="dropdown-item">
                        <form action="/downloads/<%=document._id%>?_method=DELETE" method="POST">
                          <button class="btn btn-sm btn-label-danger"><i class="far fa-trash-alt"></i>
                            Delete</button>
                        </form>
                      </div>
                    </div>
                  </span>
                  <a href="/downloads/docs/<%=document._id%>" id="<%=document._id%>" onclick="downloadBtn(this)"
                    title="Download" target="_blank"
                    class="download_button btn btn-sm btn-clean btn-icon btn-icon-md"><span class="pr-2"><i
                        class="fas fa-file-download"></i></span></a>

                  <form id="bookmark_<%=document._id%>" onsubmit="documentBookmark(event, this)"
                    class="d-inline-block m-0 p-0 bookmark-ajax-form"
                    action="/user/downloads/<%=document._id%>/bookmark" method="POST">
                    <button type="submit" title="Bookmark"
                      class="btn btn-sm btn-clean btn-icon btn-icon-md <%=document._id%>"><i
                        class="fas fa-bookmark"></i></button>
                  </form>

                  <a href="https://web.whatsapp.com/send?text=/downloads/<%=document._id%>" title="Share"
                    target="_blank"><span class="btn btn-sm btn-clean btn-icon btn-icon-md"><i
                        class="fas fa-share-alt"></i></span></a>
                </td>
              </tr>
              <%})%>
            </tbody>
            <tfoot>
              <tr>
                <th class="text-center align-middle">No</th>
                <th class="text-center align-middle">Date of Upload</th>
                <th class="text-center align-middle">Author</th>
                <th class="text-center align-middle">Title</th>
                <th class="text-center align-middle">Exam</th>
                <th class="text-center align-middle">Attempt</th>
                <th class="text-center align-middle">Subject</th>
                <th class="text-center align-middle">No of Downloads</th>
                <th class="text-center align-middle">Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!--end: Table-->

      <div id="smallScreen-facultyDashboardDocs" class="d-block d-lg-none full-width overflow-auto"
        style="max-height: 50rem">
        <div class="row">
          <!--begin:: Widgets/New Users-->
          <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  Downloads
                </h3>
              </div>
              <div class="kt-portlet__head-toolbar">
              </div>
            </div>
            <div class="kt-portlet__body">
              <div class="tab-content">
                <div class="kt-widget4" id="smallScreen-facultyDashboardDocs-content">
                </div>
              </div>
            </div>
          </div>
          <!--end:: Widgets/New Users-->
        </div>
      </div>

  </div>
</div>


<div id="facultyDashboardVideos-container" class="my-5 mx-2">
  <div class="kt-container kt-grid__item kt-grid__item--fluid white-container py-5">
    <h5>Videos Uploaded</h5>
    <div class="kt-portlet__body">
      <div id="noOfVideoUploads" class="pagination__desc pagination__desc-video text-center font-weigth-500">
      </div>
      <div class="kt-grid__item kt-grid__item--fluid mt-5">
        <div class="kt-pagination kt-pagination--sm kt-pagination--brand my-3">
          <div class="kt-pagination__toolbar">
            <div class="mr-3">
              <select class="form-control kt-font-brand" id="facultyDashboardVideos-sort" name="sort"
                onchange="return facultyDashVideos_filter()">
                <option disabled>Sort</option>
                <option value="-createdAt">
                  Lastest Uploads
                </option>
                <option value="createdAt">
                  Earliest Uploads
                </option>
                <option value="-author">
                  Author-Desc</option>
                <option value="author">
                  Author-Asc</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-grid__item">
        <div class="row overflow-auto" id='facultyDashboardVideos-body' style="max-height: 130rem">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end:: Content -->