<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
    <!--begin: Notifications -->
    <!-- if(currentUser){
    <div class="kt-header__topbar-item dropdown">
        <div class="text-nowrap my-auto" data-toggle="dropdown" id="quickpanel" title="Notifications" data-placement="left"
            data-offset="10px,10px">
            <div>
                <button type="button" class="btn btn-brand">
                    Notifications <span id="notification-btn-badge" class="kt-badge kt-badge kt-badge--danger"></span>
                </button>
            </div>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
            <form>
                 include ./_dropdown-notifications 
            </form>
        </div>
    </div>
    } -->
    <!--end: Notifications -->

    <% if(currentUser){%>
    <!--begin: User bar -->
    <div class="kt-header__topbar-item kt-header__topbar-item--user">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px" aria-expanded="false">
            <span class="kt-header__topbar-welcome">Hi,</span><span
                class="kt-header__topbar-username text-nowrap"><%=currentUser.firstName.charAt(0).toUpperCase()%><%=currentUser.firstName.substring(1).toLowerCase()%>
                <%=currentUser.lastName.charAt(0).toUpperCase()%><%=currentUser.lastName.substring(1).toLowerCase()%></span>
            <!-- <img class="kt-hidden" alt="Pic" src="./assets/media/users/300_21.jpg"> -->
            <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
            <span
                class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold"><%=currentUser.firstName.charAt(0).toUpperCase()%></span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
            <% include ./_dropdown-user %>
        </div>
    </div>
    <!--end: User bar -->
    <%} else {%>
    <a href="/register" class="btn btn-label-warning btn-bold btn-icon-h kt-margin-l-10 my-auto"> Register</a>
    <a href="/login" class="btn btn-label-primary btn-bold btn-icon-h kt-margin-l-10 my-auto"> Login</a>
    <%}%>
</div>
<!-- end:: Header Topbar -->